[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
leaguepedia-parser = "*"

[packages]
requests = "*"
dateparser = "*"
riot-transmute = ">=0.1a5"
lol-dto = ">=0.1a3"
lol-id-tools = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
