[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
leaguepedia-parser = "*"

[packages]
requests = "*"
dateparser = "*"
riot-transmute = "*"
lol-dto = "*"
lol-id-tools = "*"

[requires]
python_version = "3.8"
